/* src/components/styles/VehicleSelection.css */
.vehicle-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1593809839438-e1b2bd388320?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.vehicle-selection h1 {
  margin-bottom: 30px;
  font-size: 2.5em;
  /* Increase font size */
  color: rgb(44, 43, 43);
  /* Optional: Change color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.vehicle-selection-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.vehicle-selection-item label {
  margin-right: 10px;
  font-size: 1.2em;
  /* Increase font size */
  color: rgb(44, 43, 43);
  /* Optional: Change color */
  text-shadow: 1px 1px 3px rgba(206, 22, 22, 0.7);
}

.vehicle-selection-item select {
  margin-right: 10px;
  font-size: 1.2em;
  /* Increase font size */
  padding: 5px;
}

.vehicle-selection button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4caf50;
  /* Optional: Change background color */
  color: rgb(30, 28, 28);
  /* Optional: Change text color */
  border: none;
  /* Optional: Remove border */
  border-radius: 5px;
}
